@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Medium.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish/Mulish-ExtraBold.ttf');
  font-weight: 800;
}