$color-white-50: #FFFFFF;
$color-white-60: #F7F7FF;
$color-white-70: #F6F6FB;
$color-white-100: #EEEEF5;
$color-white-110: #B5B5C3;
$color-white-300: #80809B;

$color-indigo-50: #6C6DE5;
$color-indigo-100: #5B5CE2;

$color-emerald-300: #1BC58D;

$color-black-800: #212121